$shadow_white: rgba(255, 255, 255, 1);
$shadow_black: rgba(0, 0, 0, .14);

$hover_effect_background_color: rgba(0, 0, 0, .1);
$click_effect_background_color: rgba(0, 0, 0, .2);

$material_icon_color: #444;
$close_icon_opacity: 0.5;

$current_line_color: #D32F2F; // Red 700
$divider_color: rgba(0, 0, 0, .12);
$link_color: #419df3;

// snackbar
$snackbar_font_color: white;
$snackbar_background_color: #323232;  // default

// modal window
$modal_window_background_color: rgba(0, 0, 0, .5);
$modal_window_table_header_font_color: #777;